<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot on TAP</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/spring-boot.png" alt="Spring Boot" width="30" height="27"
                 class="d-inline-block align-text-top"> Spring Boot</a>
        <span class="navbar-text">
            <span>Powered by</span>
            <a href="https://tanzu.vmware.com/application-platform">
                <img src="/images/tap.png" width="145" height="38"
                     alt="VMware Tanzu Application Platform"/></a>
        </span>
    </div>
</nav>

<div class="container py-4">
    <div id="banner" class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">🥳 Congratulations!</h1>
            <p class="col-md-8 fs-4">Your Spring Boot app now runs on
                VMware Tanzu&nbsp;Application&nbsp;Platform.</p>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3">
                <h2>⚡ Your application</h2>
                <ul id="appInfo">
                    <li><span class="text-white-50">GroupId:</span>
                        <span class="text-warning font-monospace" th:text="${app.groupId}">groupId</span>
                    </li>
                    <li><span class="text-white-50">ArtifactId:</span>
                        <span class="text-warning font-monospace" th:text="${app.artifactId}">artifactId</span>
                    </li>
                    <li><span class="text-white-50">Version:</span>
                        <span class="text-warning font-monospace" th:text="${app.version}">appVersion</span>
                    </li>
                    <li><span class="text-white-50">Spring Boot Profiles:</span>
                        <span class="text-warning font-monospace" th:text="${app.springBootProfiles}">springBootProfiles</span>
                    </li>
                    <li><span class="text-white-50">Spring Boot Version:</span>
                        <span class="text-warning font-monospace" th:text="${app.springBootVersion}">springBootVersion</span>
                    </li>
                    <li><span class="text-white-50">Java Version:</span>
                        <span class="text-warning font-monospace" th:text="${app.javaVersion}">javaVersion</span>
                    </li>
                    <li><span class="text-white-50">IP Address:</span>
                        <span class="text-warning font-monospace" th:text="${app.ipAddress}">springProfiles</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>⏭️ What's next?</h2>
                <p>Follow these guides to learn how TAP can simplify your Kubernetes developer experience.</p>
                <a href="https://docs.vmware.com/en/VMware-Tanzu-Application-Platform/1.5/tap/getting-started.html"
                   class="btn btn-outline-secondary" target="_" role="button">Getting started</a>
                <a href="https://docs.vmware.com/en/VMware-Tanzu-Application-Platform/1.5/tap/getting-started-about-consuming-services.html"
                   class="btn btn-outline-secondary" target="_" role="button">Consume services</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
