<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="light">
<head>
  <title th:if="${app.runningInKubernetes}">Spring Boot on TAP</title>
  <title th:unless="${app.runningInKubernetes}">Spring Boot</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.css}"/>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<nav class="navbar bg-dark sticky-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}">
      <img th:src="@{/images/spring-boot.png}" alt="Spring Boot" width="30" height="27"
           class="d-inline-block align-text-top"> Spring Boot</a>
    <span class="navbar-text p-0" th:if="${app.runningInKubernetes}">
            <span class="small">Powered by</span>
            <a href="https://tanzu.vmware.com/application-platform">
                <img th:src="@{/images/tap.png}" width="145" height="38"
                     alt="VMware Tanzu Application Platform"/></a>
        </span>
  </div>
</nav>

<div class="container py-2">
  <div class="row mt-2 mb-2">
    <div id="banner" class="col-12 py-2 rounded-3">
      <div class="container-fluid">
        <h1 class="display-5 fw-bold">🥳 Congratulations!</h1>
        <p class="col-12 fs-4">
          <span th:if="${app.runningInKubernetes}">Your <strong>Spring Boot</strong> app now runs on VMware Tanzu Application Platform.</span>
          <span th:unless="${app.runningInKubernetes}">Your <strong>Spring Boot</strong> app is up and running.</span>
        </p>
      </div>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-lg-6 mt-lg-3 mb-3">
      <div class="h-100 p-4 bg-dark rounded-3" data-bs-theme="dark">
        <h2 class="text-white">⚡ Your application</h2>
        <ul id="appInfo" class="m-0">
          <li th:if="${app.groupId}"><span class="text-white-50">GroupId:</span>
            <span class="text-warning font-monospace" th:text="${app.groupId}">groupId</span>
          </li>
          <li th:if="${app.artifactId}"><span class="text-white-50">ArtifactId:</span>
            <span class="text-warning font-monospace" th:text="${app.artifactId}">artifactId</span>
          </li>
          <li th:if="${app.version}"><span class="text-white-50">Version:</span>
            <span class="text-warning font-monospace" th:text="${app.version}">appVersion</span>
          </li>
          <li><span class="text-white-50">Spring Boot Profiles:</span>
            <span class="text-warning font-monospace" th:text="${app.springBootProfiles}">springBootProfiles</span>
          </li>
          <li><span class="text-white-50">Spring Boot Version:</span>
            <span class="text-warning font-monospace" th:text="${app.springBootVersion}">springBootVersion</span>
          </li>
          <li><span class="text-white-50">Java Version:</span>
            <span class="text-warning font-monospace" th:text="${app.javaVersion}">javaVersion</span>
          </li>
          <li><span class="text-white-50">IP Address:</span>
            <span class="text-warning font-monospace" th:text="${app.ipAddress}">springProfiles</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 mt-lg-3 mb-3">
      <div class="h-100 p-4 bg-light border rounded-3">
        <h2>⏭️ What's next?</h2>
        <div th:if="${app.runningInKubernetes}">
          <p>Follow these guides to learn how TAP can simplify your Kubernetes developer experience.</p>
          <a class="btn btn-outline-secondary" target="_" role="button"
             href="https://docs.vmware.com/en/VMware-Tanzu-Application-Platform/1.7/tap/getting-started.html">
            Getting started</a>
          <a class="btn btn-outline-secondary" target="_" role="button"
             href="https://docs.vmware.com/en/VMware-Tanzu-Application-Platform/1.7/tap/getting-started-about-consuming-services.html">
            Consume services</a>
        </div>
        <div th:unless="${app.runningInKubernetes}">
          <p>Use VMware Tanzu Application Platform to deploy this app to Kubernetes.</p>
          <a class="btn btn-outline-secondary" target="_" role="button"
             href="https://docs.vmware.com/en/VMware-Tanzu-Application-Platform/1.7/tap/getting-started-deploy-first-app.html">
            Deploy your first app</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script th:src="@{/webjars/jquery/3.7.1/jquery.slim.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
